@font-face {
    font-family: royalFont;
    src: url("../res/royal-font/Royal2-MOXe.ttf");
}


@font-face {
    font-family: pgFont;
    src: url("../res/pg-font/GrenzeGotisch.ttf");
}

* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
    background-color: #000000;
}

main {
    /* height: 100%; */

    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;

    flex-direction: row;

    align-items: stretch;
}

.left-side,
.right-side {
    border: 1px solid white;
    /* height: 870px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    background-color: black;
    width: 390px;
    /* padding: 15px; */
    gap: 15px;
}

.left-side img,
.right-side img {
    width: 360px;
    height: 360px;
    padding: 15px;
    border: 1px white solid;
}

.left-side h1,
.right-side h1 {
    font-family: royalFont;
    color: white;
    font-size: 152px;
}

.left-side h1 {
    writing-mode: vertical-rl;
    text-align: center;
    transform: rotate(180deg);
    margin-bottom: 50px;
}

.right-side h1 {
    writing-mode: vertical-lr;
    text-align: center;
    margin-top: 50px;
}

/* .logo-text-wrapper {
    text-align: center;
    display: flex;
    border: solid 1px white;
    width: 350px;
    align-items: stretch;
} */

.middle {
    /* padding: 50px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border: solid 1px white;
}

.post-titile {
    color: rgb(178, 39, 39);
    padding: 50px;
    border: solid 1px white;
    font-family: pgFont;
    font-size: 48px;
    line-height: 50px;
}

.post-body {
    padding: 20px;
    /* border: solid 1px rgb(255, 255, 255); */
    font-family: pgFont;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}

footer .gbu-bdd-logo {
    margin-left: 10px;
    font-family: royalFont;
    display: flex;
    flex-direction: row;
    align-items: center;

    /* width: 100px; */
    padding: 15px;
}
footer .gbu-bdd-logo-textwrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .gbu-bdd-logo-img {
    height: 150px;
}

footer .gbu-bdd-logo-text {
    color: white;
    font-size: 28px;
    max-width: 28px;
}

footer p {
    color: white;
    margin-left: 100px;
    margin-right: 70px;
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    font-family: oldRus;
}

footer {
    justify-self: end;
    align-items: center;
    margin-top: 150px;
    border: solid 1px white;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    /* width: 1320px; */
    height: 170px;
}
